*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: rgb(248, 249, 250); */

}
.myContainer{
    padding: 1.0em;
    padding-left: 2.0em;
    display: flex;
    flex-direction: row;

}
.myQuizz{
    background-color: #F8F2F2;
    width: 65%;
}

.displayBoard{
    height: 40px;
    background-color: #B6DEE0;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}
.startForm{
    margin-top: 45px;
}

p{
    background-color: #B6DEE0;
    width: fit-content;
    /* height: 25px;
    align-content: center; */
    font-size: large;
}
.myButton{
    background-color: #B6DEE0;
    
    height: 30px;
    width: 50px;
    margin-left: 40px;
}
.myAnswers{
    /* background-color: blue; */
    width: 40%;
    /* align-content: center; */
    margin-top: 60px;
    margin-left: 40px;
}
.headerOne{
    background-color: #B6DEE0;
    width: fit-content;
}
.h31{
    color: red;
}